<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fr.coppernic.sample.pcsc">

    <uses-permission android:name="com.id2mp.permissions.SCR"/>
    <uses-permission android:name="fr.coppernic.permission.SMART_CARD"/>
    <uses-permission android:name="fr.coppernic.permission.RFID"/>

    <application
        android:name="fr.coppernic.samples.pcsc.App"
        android:allowBackup="true"
        android:icon="@mipmap/rfid_blue"
        android:label="${appLabel}"
        android:roundIcon="@mipmap/rfid_blue"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label"
        >
        <activity
            android:name="fr.coppernic.samples.pcsc.ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
        </activity>
        <activity android:name="fr.coppernic.lib.splash.PermissionSplashScreen"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="activity"
                android:value="fr.coppernic.samples.pcsc.ui.MainActivity"/>
        </activity>
    </application>

</manifest>